# Compiled binaries
*.exe
*.o
*.out
simpleTest
test_simple
route_optimizer

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/


# Temporary files
*~
*.tmp
~$*


commit_message.txt